body {
  background-image: url('/assets/rosa.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  image-rendering: crisp-edges; /* Mejora la nitidez */
  image-rendering: -webkit-optimize-contrast; /* Para navegadores WebKit */
}
